        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Travel App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="glyphicon glyphicon-cog"></span></a>
                  <ul class="dropdown-menu">
                    <li><a ui-sref="profile">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="row tripForm">
          <div class="col-sm-9 col-sm-push-3">
            <!-- Toggle Trip View Start -->
            <div ng-show="hideShowTrips">
                <div class="dashboard-detail">
                    <div class="dash-widget-half" >
                        <div>
                            <h4 style="text-align: center">Travel Information for {{ trip.destination }}.</h4>
                            <div>
                              <hr />
                                <ul>
                                    <h4>Arrive on: {{ trip.arrivalDate | date:'fullDate' }}</h4>
                                    <h4>Depart on: {{ trip.departDate | date:'fullDate' }}</h4>
                                    <h4>Flying out of: {{ baseAirport }}</p><h4>
                                </ul>
                            </div>
                        </div>
                      </div>
                    <div class="dash-widget-half">
                      <h4 style="text-align: center">So far you have saved</h4>
                      <hr />
                      <p class="moneySaved">${{ amountSaved }} <strong style="color:#999;">out of</strong> ${{ trip.amountToSave }}</p>
                    </div>
                    <div class="dash-widget-full">
                      <div>
                        <h4 style="text-align: center">{{ percentOfGoal }}% of your goal! Keep it going!</h4>
                        <div class="progress">
                          <uib-progressbar class="progress-striped active" value="getProgressbarValue()" type="success"></uib-progressbar>

                        </br/>
                        </div>
                      </div>
                    </div>
                    <div class="dash-widget-half" id="todo">
                      <div ng-controller="toDoCtrl">
                        <h4 style="text-align: center">To Do List For {{ trip.destination }}.</h4>
                        <hr />
                        <form ng-submit="add()" name="toDoList">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Add to List</label>
                            <input type="text" class="form-control" ng-model="title" placeholder="ex. Call Hotel #1-800-984-2938"><button type="submit" class="btn btn-success">Add Task</button>
                          </div>
                        </form>
                        <div>
                          <ul class="list-group">
                            <li class="list-group-item" ng-repeat="task in tasks track by $index"> {{ task }} <button ng-click="delete()">Delete</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="dash-widget-half" id="trans">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Description</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="deposit in deposits">
                              <td>{{ deposit.date | date:'fullDate' }}</td>
                              <td>{{ deposit.description }}</td>
                              <td>${{ deposit.amountDeposited }}</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <button ng-click="makeDeposit = !makeDeposit"  class="tableHeader">Add Money</button>
                            </tr>
                          </thead>
                          <div ng-show="makeDeposit">
                            <div>
                            <form>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Amout to Deposit</label>
                                <input type="text" class="form-control" placeholder="$">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <input type="text" class="form-control" placeholder="optional">
                              </div>
                              <button type="button" class="depositBtn">Add A Deposit</button>
                            </form>
                      </div>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- Toggle Trip View End-->



                <!-- Toggle Create New Trip Start -->
                <div ng-show="hideShowCreate" class="newTripForm">
                  <div ng-controller="newTripCtrl">
                    <h3>Create a new trip</h3>
                  </div>
                  <form ng-submit="createTrip(input)">
                  <div>
                    <label>Where do you want to go?</label>
                    <input type="text" class="form-control" ng-model="input.destination" placeholder="City, State or Country">
                  <!-- DATE PICKER START -->
                      <div style="display:inline-block; min-height:100px; text-align:center;">
                        <h4>Arrive</h4>
                        <input ng-model="input.arrivalDate" type="text" class="form-control" placeholder="Arrival Date">
                        <!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->
                        <!-- <uib-datepicker ng-model="input.arrivalDate" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker> -->
                      </div>
                        <div style="display:inline-block; min-height:100px; text-align:center;">
                          <h4>Depart</h4>
                          <input ng-model="input.departDate" type="text" class="form-control" placeholder="Departure Date">
                          <!-- <uib-datepicker ng-model="departDate" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker> -->
                      </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input ng-model="input.amountToSave" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount to Save">
                      <div class="input-group-addon">.00</div>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input ng-model="input.initialDeposit" type="text" class="form-control" id="exampleInputAmount" placeholder="Initial Deposit">
                      <div class="input-group-addon">.00</div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  <button class="btn btn-warning" type="button">Cancel</button>
                </form>
              </div>
                </div>
                <!-- Toggle Create New Trip End -->
          </div>
          <!-- sidebar area start -->
          <div class="col-sm-3 col-sm-pull-9 sidebarStyle">
            <div class="text-xs-center text-sm-left ">
              <ul class="nav nav-pills nav-stacked">
                <li class="liHead"><a href="#"><span></span> Trips</a></li>
                <li class="nav-item" ng-repeat="trip in currentUser.trips track by $index" ng-click="toggleTrips($index)"><a><span class="glyphicon glyphicon-unchecked">  </span>  {{ trip.destination }}</a></li>
              </ul>
              <!-- <ul class="nav nav-pills nav-stacked">
                <li class="liHead"><a href="#"><span></span> To Do Lists</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Contacts</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Financial Planner</a></li>
              </ul> -->
              <ul class="nav nav-pills nav-stacked">
                <li class="liHead"><a href="#"><span></span>Plan A New Adventure</a></li>
                <li ng-click="toggleCreateTrip()"><a><span class="glyphicon glyphicon-circle-arrow-right"></span>  Create A New Trip</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-road"></span>  Archived Trips</a></li>
              </ul>
            </div>
          </div>
          <!-- sidebar area end -->
          <div class="clearfix">
          </div>
            </div>
