 <div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Travel App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="profile">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-9 col-sm-push-3">
      <div ui-view>
      </div>
    </div>
    <!-- sidebar area start -->
    <div class="col-sm-3 col-sm-pull-9 sidebarStyle">
      <div class="text-xs-center text-sm-left ">
        <ul class="nav nav-pills nav-stacked">
          <li class="liHead"><a href="#"><span></span>  Trips</a></li>
          <li><a ui-sref="trip-detail"<span class="glyphicon glyphicon-unchecked"></span> Trip #1</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-unchecked"></span>  Trip #2</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-unchecked"></span>  Trip #3</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
          <li class="liHead"><a href="#"><span></span> To Do Lists</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Contacts</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Financial Planner</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
          <li class="liHead"><a href="#"><span></span>Plan A New Adventure</a></li>
          <li><a ui-sref="create"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Create A New Trip</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contacts</a></li>
        </ul>
      </div>
    </div>
    <!-- sidebar area end -->
    <div class="clearfix">
    </div>


