html  {
    height: 100%;
    background-image: url("../img/luxury-travel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: transparent;
}

row {
  background-color: transparent;
}
