html,body {
  height: 100%;
}



.navbar-inverse {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-right: 20px;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.row {
  margin-top: 51px;
  height: 100%;
}

.liHead a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #fff;
  width: 107%;
}

.sidebarStyle {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 15px;
}

.nav>li>a {
    color: white;
}


.footer {
    position: absolute;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 102%;
    height: 80px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dashboard-detail {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dash-widget-small {
  width: 20%;
  flex-grow: 1 25%;
  padding: 5px;
  height: 215px;
  background-color: #fff;
  border-radius: 14px;
  margin-top: 10px;
  margin-right: 15px;
  border: 4px solid #00c6ff;
}

.dash-widget-full {
  width: 100%;
  flex-grow: 2;
  padding: 5px;
  height: auto;
  background-color: #fff;
  border-radius: 14px;
  margin-top: 10px;
  margin-right: 15px;
  border: 4px solid #00c6ff;
}

.dash-widget-half {
  width: 48%;
  flex-grow: 2;
  padding: 5px;
  height: 215px;
  background-color: #fff;
  border-radius: 14px;
  margin-top: 10px;
  margin-right: 15px;
  border: 4px solid #00c6ff;
}

#trans {
  height: auto;
}

.table-bordered>thead>tr>th {
  background-color: #00c6ff;
  color: #fff;
}

.table-responsive {
  border-radius: 14px;
}

.progress {
  background: #dbdbdb; /* fallback for old browsers */
  border-radius: 4px; height: 50px;
}

.progress-bar-custom {
  background: rgba(29, 204, 113, 1);
}

.progress-striped .progress-bar-custom {
  background-color: rgba(29, 204, 113, 1);
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent)));
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
  background-size: 21px 21px;
}

/*--------- Additional Responsive Style Start -----------*/
.text-xs-left
{
	text-align: left;
}
.text-xs-right
{
	text-align: right;
}
.text-xs-center
{
	text-align: center;
}
.text-xs-justify
{
	text-align: justify;
}

.center-xs-block
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.left-xs-block
{
	display: block;
	margin-right: auto;
	margin-left: inherit;
}
.right-xs-block
{
	display: block;
	margin-right: inherit;
	margin-left: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	.text-sm-left
	{
		text-align: left;
	}
	.text-sm-right
	{
		text-align: right;
	}
	.text-sm-center
	{
		text-align: center;
	}
	.text-sm-justify
	{
		text-align: justify;
	}
	.center-sm-block
	{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.left-sm-block
	{
		display: block;
		margin-right: auto;
		margin-left: inherit;
	}
	.right-sm-block
	{
		display: block;
		margin-right: inherit;
		margin-left: auto;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
	.text-md-left
	{
		text-align: left;
	}
	.text-md-right
	{
		text-align: right;
	}
	.text-md-center
	{
		text-align: center;
	}
	.text-md-justify
	{
		text-align: justify;
	}
	.center-md-block
	{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.left-md-block
	{
		display: block;
		margin-right: auto;
		margin-left: inherit;
	}
	.right-md-block
	{
		display: block;
		margin-right: inherit;
		margin-left: auto;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
	.text-lg-left
	{
		text-align: left;
	}
	.text-lg-right
	{
		text-align: right;
	}
	.text-lg-center
	{
		text-align: center;
	}
	.text-lg-justify
	{
		text-align: justify;
	}
	.center-lg-block
	{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.left-lg-block
	{
		display: block;
		margin-right: auto;
		margin-left: inherit;
	}
	.right-lg-block
	{
		display: block;
		margin-right: inherit;
		margin-left: auto;
	}
}
/*--------- Additional Responsive Style End -----------*/
