<div class="dashboard-detail">
  <div class="dash-widget-half">
    <div>
      <h4 style="text-align: center">Travel Info</h4>
      <div ng-controller="tripCtrl">
        <button ng-click="getTrip()">Go Get Trips!</button>
        <ul>
          <li>Destination: {{ myTrips.destination }}</li>
          <li>Arrival Date: {{ myTrips.arrivalDate }}</li>
          <li>Departure Date: {{ myTrips.departDate }}</li>
          <li>Amount To Save: {{ myTrips.amountToSave}}</li>
          <li>Date Created: {{ myTrips.created }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dash-widget-half">
    <h4 style="text-align: center">To Do List</h4>
  </div>
  <div class="dash-widget-full">
    <div>
      <h4 style="text-align: center">Savings Progress Bar</h4>
      <div class="progress">

        <uib-progressbar class="progress-striped active" value="75" type="success"><i ng-show="showWarning">!!! Watch out !!!</i>75% Complete (success)</uib-progressbar>

      </br/>
      </div>
    </div>
  </div>
  <div class="dash-widget-full" id="trans">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2/19/2016</td>
            <td>Initial deposit for trip savings!</td>
            <td>$125.00</td>
          </tr>
          <tr>
            <td>3/2/2016</td>
            <td>Sold watch</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>3/10/2016</td>
            <td>Cashed coins in jar</td>
            <td>$275.00</td>
          </tr>
          <tr>
            <td>3/17/2016</td>
            <td>Stole from wife</td>
            <td>$5.00</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table><!--end of .table-responsive-->
  </div>
  </div>
</div>
<!--
<div ng-controller="tripCtrl">
  <button ng-click="goGetTrips()">Go Get Users!</button>
  <ul>
    <li>Destination: {{ myTrips.destination }}</li>
    <li>Arrival Date: {{ myTrips.arrivalDate }}</li>
    <li>Departure Date: {{ myTrips.departDate }}</li>
    <li>Amount To Save: {{ myTrips.amountToSave}}</li>
    <li>Date Created: {{ myTrips.created }}</li>
  </ul>
</div>
<div ng-controller="userCtrl">
  <button ng-click="users()">Go Get Users!</button>
  <ul>
    <li>First Name: {{ myUser.firstName }}</li>
    <li>Last Name: {{ myUser.lastName}}</li>
    <li>E-Mail: {{ myUser.email}}</li>
    <li>Phone: {{ myUser.phone}}</li>
    <li>Location: {{ myUser.location}}</li>
    <li>Base Airport: {{ myUser.baseAirport}}</li>
  </ul>
</div>

-->
